<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISmartH2O_Service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://smarth20service.apphb.com/SmartH2O_Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISmartH2O_Service"
                contract="ServiceData.ISmartH2O_Service" name="BasicHttpBinding_ISmartH2O_Service" />
        </client>
    </system.serviceModel>
</configuration>